<!DOCTYPE html>
<html>
<head>
    <title>Ver registro</title>
</head>
<body>
    <h1>Ver Registro</h1>
    <form action="/ver_registro" method="get">
        <input type="submit" value="Ver registro">
    </form>
    <form action="/datos_entrenamiento" method="get">
        <input type="submit" value="Datos de Entrenamiento">
    </form>
    <form action="/generar_prediccion" method="get">
        <input type="submit" value="Generar Predicción">
    </form>
    <form action="/ver_productos" method="get">
        <input type="submit" value="Ver Productos">
    </form> 
    <form action="/generar_prediccion_productos" method="get">
        <input type="submit" value="Generar Predicción Productos">
    </form>    
</body>
</html>
